* {
	font-family: 'Courier New', Courier, monospace;
	--background: beige;
	--color-card: aliceblue;

	--border-style: 2px solid black;
}
body {
	background-color: var(--background);
}

section {
	background: var(--color-card);
	border: var(--border-style);
	border-radius: 20px;

	margin: auto;
	width: 75%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
section h1, h2 {
	padding: 20px;
	text-decoration-line: underline;
	text-align: center;
	font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section p ul li {
	margin-right: 50px;
	margin-left: 50px;
	text-align: justify;
}
section img {
	width: 100%;
	height: auto;
	border: var(--border-style);
	border-radius: 20px;

	display: block;
	margin: auto;
}

.section-all {
	width: 95%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.section-all img {
	border-radius: 0px;
}

nav  {
	display: flex;
	margin: auto;
	width: 40%;
	justify-content: space-evenly;

	background: var(--color-card);
	border: var(--border-style);
	border-radius: 10px;
	padding: 10px;
}
nav  a {
	display: flex;
	text-decoration: none;
	border-radius: 20px;
	background: rgba(255, 128, 0, 0.1);
	color: black;

	font-weight: bold;
	font-size: 15px;
	padding: 5px 20px;
	transition: 0.4s;
}
nav a:hover {
	background: rgba(255, 128, 0, 0.3);
	border-radius: 20px;
	padding: 5px 50px;
}

.dropdown:hover .dropdown-content {
	display: block;
	position: absolute;
}
.dropdown-content a:hover .dropdown {
	padding: 5px 50px;
}
.dropdown-content {
	display: none;
	width: 150px;
	background-color: var(--color-card);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.dropdown-content a {
	padding: 5px 5px;
}
.dropdown-content a:hover {
	padding: 5px 5px;
	border-radius: 10px;
}

.button {
	position: relative;
	display: block;
	width: 80px;
	padding: 10px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;

	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	border: var(--border-style);

	color: black;
	background: rgba(255, 128, 0, 0.1);

	transition: all 0.5s;
}

.button:hover {
	background-color: rgba(255, 128, 0, 0.3);
}

@media screen and (max-width: 768px) {
	nav {
		width: 80%;
	}
	section {
		width: 90%;
	}
	nav a {
		padding: 5px;
	}
	nav a:hover {
		padding: 0px 20px;
	}
	section p {
		margin-right: 20px;
		margin-left: 20px;
	}
	.button {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1px;
	margin: 20px;
}
.gallery-container img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.gallery-container figure, figcaption {
	display: block;
	color: white;

	font-size: 1.0em;
	text-align: justify;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}

table {
	width: 100%;
	border: 2px solid black;
	border-radius: 10px;

	background-color: rgba(255, 128, 0, 0.1);
}

tr td {
	width: 55%;
	padding: 10px;
}