.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1px;
	margin: 20px;
}

.gallery-container img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.gallery-container figure, .gallery-container figcaption {
	display: block;
	color: white;

	font-size: 1.0em;
	text-align: justify;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}


/* change section width */
.section-all {
    width: 95%;
    padding: 0px;
}

.section-all img {
    border-radius: 0px;
}