:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --border: 2px solid black;

    --surface1: #F8EDE3;
    --surface2: #DFD3C3;
    --surface3: #D0B8A8;
    --surface4: #85586F;
}

/* background */
body {
    background-color: var(--surface4);
    background-image: url("./img/bg.jpg");
}

/* menu-card */
main.menu {
    background-color: var(--surface1);
    border: 10px solid white;

    width: 70%;
    margin: 20px auto;
    padding: 10px 40px;
}

/* start title */
.header {
    font-size: xx-large;
    border-bottom: var(--border);
}

/* menu subtitle */
section {
    margin-bottom: 30px;
}

section > div:nth-child(1) > img {
    margin: -10px 0px 20px 10px;
}

/* menu article */
section > div > article {
    display: flex;
    justify-content: space-between;
    margin: -20px 10px;
}

@media screen and (min-width: 768px) {
    main.menu {
        max-width: 30%;
        border-width: 20px;
    }
}

/* separator */
hr {
    border: var(--border);
    border-width: 1px;
}

/* footer (bottom) */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer <a> */
a {
    color: black;
}

a:hover {
    color: brown;
}